* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Baloo Tamma 2',
		cursive;
	background-image: url("bg.png");
	background-color: rgb(92, 25, 25);
	height: 100vh;
	font-weight: 400;
}

#bell {
	visibility: hidden;
	opacity: 0;
}

#email {
	display: inline-block;
	padding: 1.5rem;
	width: 40rem;
	font-size: 2rem;
	margin-bottom: 4rem;
}

@mixin btns($background) {
	border: 0;
	outline: 0;
	border-radius: 3px;
	padding: 1rem 3.5rem;
	font-size: 1.6rem;
	color: #fff;
	-webkit-box-shadow: 5px 5px 15px 1px #000000;
	box-shadow: 5px 5px 15px 1px #000000;
	display: inline-block;
	cursor: pointer;
	background-color: $background;

	&:active {
		-webkit-box-shadow: 0px 0px 0px 0px #000000;
		box-shadow: 0px 0px 0px 0px #000000;
	}

}

.hide {
	opacity: 0 !important;
	visibility: hidden !important;
}

.show {
	display: flex !important;
}

.starter {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	background-color: #000;
	opacity: 1;
	visibility: visible;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 999;

	//display: none;
	transition: all 0.5s ease-in-out;

	h3 {
		font-size: 4rem;
		color: #fff;
		letter-spacing: 1.5px;
		margin-bottom: 2rem;
		text-transform: uppercase;
	}

	button {
		border: 0;
		outline: 0;
		padding: 2rem 4rem;
		border-radius: 5px;
		color: #fff;
		background-color: #ce3e09;
		font-size: 2rem;
		letter-spacing: 1.5px;
		font-weight: bold;
		text-transform: uppercase;
		cursor: pointer;
	}
}

.over {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 999;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;


	.msg {
		font-size: 3.5rem;
		text-transform: uppercase;
		color: #fff;
		letter-spacing: 1.5px;
		font-weight: bold;
	}

	p {
		font-size: 2.5rem;
		color: #ce3e09;
		text-transform: uppercase;
		font-weight: bold;
	}
}

.container {
	width: 60%;
	padding: 2rem;
	min-height: 90vh;
	background-color: rgba(#000, 0.6);
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;

	@media only screen and (max-width: 950px) {
		width: 90%;
	}

	.left {
		display: flex;
		justify-content: space-between;
		font-size: 2.5rem;
		border-bottom: 2px solid #fff;
		margin-bottom: 2rem;

		&__question {
			margin-right: 5rem;

			.qLeft {
				width: 10rem;
				display: inline-block;
			}
		}

		&__time {
			.tLeft {
				width: 9rem;
				display: inline-block;
			}
		}

		span {
			color: #09ce23;
		}
	}

	.quize {
		&__container {
			display: grid;
			grid-template-columns: 5rem 1fr;
			grid-template-rows: repeat(2, min-content);
			gap: 0 3rem;
		}

		&__number {
			grid-column: 1/2;
			grid-row: 1/-1;

			#number {
				padding: 3rem 2rem;
				display: inline-block;
				background-color: #fff;
				font-size: 3rem;
				line-height: 0;
				color: #222;
			}
		}

		&__body {
			grid-column: 2/3;
			grid-row: 1/2;
		}

		&__details {
			border-bottom: 1px solid #fff;
			padding-bottom: 1rem;
			margin-bottom: 2rem;

			font-size: 1.8rem;

			textarea {
				padding: 1rem 2rem;
				resize: none;
				width: 100%;
				overflow: hidden;
				font-size: 1.7rem;
			}
		}

		&__question {
			font-size: 2rem;
			margin-bottom: 2rem;
			font-style: italic;
		}

		&__answer {
			margin-bottom: 2rem;

			textarea {
				display: block;
				width: 100%;
				padding: 1rem;
				font-size: 2rem;
			}
		}

		&__btns {
			grid-column: 2/3;
			grid-row: 2/3;

			.next {
				@include btns(#78281F);
			}
		}
	}

}